<%= stylesheet_link_tag 'users/about', media: 'all' %>

<div class="about d-flex justify-content-center">
  <div class="about-box d-flex flex-column">

    <div class="about-h mx-auto mt-5 text-center">
      <h1>A B O U T</h1>
    </div>

    <div class="mx-5">
      <hr color="#AAA">
    </div>

    <div class="text-center about-c my-3 mx-5">
      <p>ビギナーからベテランまで楽しめるアウトドア専用SNSサイトです。</p>
      <p>「キャンプ未経験だけど、どこのスポットがオススメなんだろう…？」</p>
      <p>「このポイントで釣りをしたいが、どの釣法だと釣れやすいのかな…？」</p>
      <p>「ここのスキー場、今日の積雪具合最高！みんなに共有しよう！」</p>
      <p>「今から行こうとしているスポットは混んでるかな…？」</p>
      <p>などなど、地図をベースに各スポットのコンディションをユーザー間で共有できます。</p>
      <p>情報共有だけでなく、同じ趣味を持つ者同士の交流の場としてもぜひご活用ください！</p>
    </div>
  </div>
</div>

<script>
  // ヘッダーを隠してカーソルがホバーしたときのみ表示する
  var header = document.getElementById('header');

  document.addEventListener('mousemove', function(event) {
    var y = event.clientY; // マウスカーソルのY座標を取得
    var headerHeight = header.offsetHeight; // ヘッダーの高さを取得

    if (y <= headerHeight) {
      header.style.opacity = 0.6; // マウスカーソルがヘッダー内にあるときは表示
    } else {
      var opacity = (headerHeight - y) / headerHeight; // ヘッダーの非表示部分の高さに応じて透明度を設定
      header.style.opacity = opacity;
    }
  });
</script>