<h2>スポット検索</h2>

<input id="address" type="textbox" placeholder="東京">
<input type="button" value="検索" onclick="codeAddress()">

<div id="display">緯度経度が表示される、、、、！</div>

<div id='map'></div>

<style>
  #map {
    height: 700px;
    width: 100%;
  }

  #map img {
    max-width: 100%;
    height: auto;
  }
</style>

<script>
  let map
  let geocoder

  const display = document.getElementById('display')

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.6764225, lng:139.650027},
      zoom: 12,
    });

    marker = new google.maps.Marker({
      position:  {lat: 35.6764225, lng:139.650027},
      map: map,
      icon: {
        url: "<%= asset_path('mapicon.png') %>",
        size: new google.maps.Size(30, 35), // 画像の初期サイズを指定（適宜変更してください）
        scaledSize: new google.maps.Size(30, 35) // 画像の表示サイズを指定（適宜変更してください）
      },
    });
    
    marker.addListener('click', function() {
      window.location.href = "リンク先のURL";
    });
  }



    //検索フォームのボタンが押された時に実行される
  function codeAddress(){
    //検索フォームの入力内容を取得
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            icon: {
              url: "<%= asset_path('mapicon.png') %>",
              size: new google.maps.Size(30, 35), // 画像の初期サイズを指定（適宜変更してください）
              scaledSize: new google.maps.Size(30, 35) // 画像の表示サイズを指定（適宜変更してください）
            },
        });
        display.textContent = "検索結果：" + results[ 0 ].geometry.location
        }

        else {
        //検索結果が何もなかった場合に表示
        alert('該当する結果がありませんでした：' + status);
      }
    });
    
    marker.addListener('click', function() {
      window.location.href = "リンク先のURL";
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GMAP_API"] %>&callback=initMap" async defer></script>
