<div class="row">
  <div class="col-12 col-md-8 mx-auto pt-4 pb-3">
    <h2 class="ch">投稿編集フォーム</h2>

    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<%= render 'users/posts/form', post: @post %>

<!--<script>-->

<!--  function initMap(){-->
<!--    let geocoder = new google.maps.Geocoder()-->
<!--    $('.form-address').blur(function () {-->
<!--      let address = $(this).val();-->
<!--      geocoder.geocode( { 'address': address }, function(results, status) {-->
<!--        if (status == 'OK') {-->
<!--          let location = results[0].geometry.location;-->
<!--          $('.form-latitude').val(location.lat());-->
<!--           $('.form-longitude').val(location.lng());-->
<!--        } else {-->
<!--          alert('該当する結果がありませんでした：' + status);-->
<!--        }-->
<!--      });-->
<!--      console.log(address)-->
<!--    });-->
<!--  }-->
<!--</script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=<%#= ENV['G_KEY'] %>&callback=initMap" async defer></script>-->