<div class="row">
  <div class="col-12 col-md-8 mx-2 py-4">
    <h2 class="ch">投稿一覧</h2>
  </div>
</div>

<!--タグリスト------------------------------------------------------------------>
<% @tag_list.each do |list|%>
  <i class="fa-sharp fa-solid fa-tag"></i>
  <%= link_to list.tag, search_tag_path(tag_id: list.id) %>
  <%= "(#{list.posts.count})" %>
<% end %>
<!------------------------------------------------------------------------------>


<%= render "users/partial_templates/posts_index", posts: @posts %>

<div class="row my-3">
  <div class="col-2 col-md-4 col-lg-5"></div>
  <div class="col-8 col-md-4"><%= paginate @posts %></div>
</div>
