<div class="about d-flex justify-content-center">
  <div class="about-box d-flex flex-column">

    <div class="about-h mx-auto mt-5 text-center">
      <h1 class="display-4"><i class="fa-solid fa-triangle-exclamation"></i></h1>
    </div>

    <div class="mx-5">
      <hr color="#AAA">
    </div>

    <div class="text-center about-c my-4 mx-5">
      <h4 class="pb-4">退会手続き前にご確認ください。</h4>
      <p>退会手続き後に再度ご利用いただく場合、</p>
      <p>新規登録のお手続きが必要になります。</p>
      <p>本当に退会してよろしいですか？</p>
    </div>

    <div class="py-3 text-center">
      <%= link_to "はい、退会します。", user_withdrawal_path(id: current_user.id), method: :patch, data: { confilm: "本当に退会しますか？" }, class: "btn btn-danger" %>
      <%= link_to "いいえ、退会しません。", user_path(current_user), class: "btn btn-secondary" %>
    </div>
  </div>
</div>

