<div class="row">
  <div class="col-10 offset-1">

    <table class="table table-hover">
      <tbody>
        <% users.each do |user| %>

          <tr>
            <td style="width: 20%">
              <%= link_to admins_user_path(user) do %>
                <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle" %>
              <% end %>
            </td>

            <td style="width: 30%">
              <%= user.name %>
            </td>

            <td style="width: 30%">
              投稿数 <%= user.posts.count %>
            </td>

            <td>
       %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>