<div class="row">
  <div class="col-12 col-md-8 mx-2 py-4">
    <h2 class="ch">投稿一覧</h2>
  </div>
</div>

<!--タグリスト-->
<%= render "admins/partial_templates/tag_list_index", tag_list: @tag_list %>

<!--<%#= form_tag({controller:"posts",action:"index"}, method: :get) do %>-->
<!--    <%# Tag.all.each do |t| %>-->
<!--        <li><%#= check_box :tag_ids, t.tag %><%#= t.tag %></li>-->
<!--    <%# end %>-->
<!--    <%#= submit_tag '検索' %>-->
<!--<%# end %>-->

<%= render "admins/partial_templates/posts_index", posts: @posts %>

<div class="row my-3">
  <div class="col-2 col-md-4 col-lg-5"></div>
  <div class="col-8 col-md-4"><%= paginate @posts %></div>
</div>
