@use '~bootstrap/scss/bootstrap';

body {
  background-color: #eee;

}

#header {
  // background-image: url('/assets/header_background.jpg');
  // background-size: cover;
  // background-position: center;
  background-color: #eee;
}

.navbar {
  color: #000;
  text-shadow:0.5px 0.5px 0 #FFF, -0.5px -0.5px 0 #FFF,
              -0.5px 0.5px 0 #FFF, 0.5px -0.5px 0 #FFF,
              0px 0.5px 0 #FFF,  0-0.5px 0 #FFF,
              -0.5px 0 0 #FFF, 0.5px 0 0 #FFF;
}

.nav-link{
  color: #000;

}

.navbar-toggler {
  // 枠の色
  border-color: #000;

  // 背景色
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,50,50,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #eee;     /*背景の色を変える*/
  border-radius: 8px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 8px;    /*角を丸くする*/
}

.page-item {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #555555;
  border-color: #555555;
}

.page-link {
  background-color: #fafafa;
}