.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.5em;
  width: 260px;
  overflow: hidden;
  background-color: #fff;
}

.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container button[type="submit"]{
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -7.5px;
  outline : none;
}

#map {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

#map img {
  max-width: 100%;
  height: auto;
}

#header {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2;
}

#main {
  position: relative;
  z-index: 1;
}

#map_search{
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 2;
}