#header {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2;
}

#main {
  position: relative;
  z-index: 1;
}

body{
  background-image: url('/assets/about.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about{
  height: 100vh;
  position: relative;
}

.about-box{
  position: relative;
  z-index: 0;
  top: -20px;
  width: 100%;
}

.about-box::before{
  content: '';
  background-color: rgba(238, 238, 238, 0.8);;
  position: absolute;
  border-radius: 10px;
  filter: blur(5px);
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;   /* widthやheight指定時は必要 */
}
// @media screen and (max-width:768px) {
//   .about-box::before{
//     height: 100%;
//   }
// }

// @media screen and (max-width:768px) {
//   .about-box::before{
//     height: 120vh;
//   }
// }