// Place all the styles related to the users/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#map {
  border-radius: 1%;
  width: 90%;
  padding-top: 90%;
}

#form_map {
  border-radius: 1%;
}

#image_box {
  margin-bottom: 10%;
  position: relative;
  width: 90%; /* 幅 */
  padding-bottom: 90%; /* 幅と同じ高さをつくる */
  border: solid 2px #FFF; /* 白の枠線 */
  box-sizing: border-box;
}


#image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

